doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Page Title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./assets/css/app.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

  body
    h1 Header 1
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsam adipisci, ea corrupti modi sed! Excepturi animi accusantium a hic, modi officia pariatur, ad voluptatem iste, non, nisi sint id!
  
  footer
    p Footer
  
  script(src='./assets/js/bundle.js')